/* div.top.mat-card{
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  width: 90%;
  margin: 10px auto 10px auto;
  border-radius: 5px;
  background: transparent;
} */
#search-container{
  margin-top:20%;
}
.example-form {
min-width: 150px;
max-width: 500px;
width: 100%;
}
mat-card {
box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
width: 90%;
margin-top: 15px;
margin-left: auto;
margin-right: auto;
border-radius: 5px;
}
.example-full-width {
width: 100%;
}
.search{
height: 70px;
max-height: 70px;
font-size: 3.5em;
/* color: #; */
}

.avatar{
margin-bottom: 7px;
}

.searchButton{
background-color: #CA1740;
color: #fff;
margin-top:20px;
}

.searchButton2{
background-color: #FFA500;
color: #fff;
margin-top:20px;
}

.image-container{
width: 300px;
min-height: 100px;
max-width: 300px;
margin: 8px;
border-radius: 2px;
box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
overflow: hidden;
}

.results{
padding: 8px;
margin-bottom: 12px;
}
